{% extends "hawk/base.html" %}
{% load static %}
{% block title %}SHOP{% endblock title %}
{% block content %}

{% include "shop/shop-header.html" %}


    {% if tesla_list %}

        <div class="shop-wrapper">
            {% for query in tesla_list %}
            <div class="row">
                <div class="col s4 offset-s4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ query.image.url }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                            {{ query.title }}
                            <i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Full review</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Short review
                            <i class="material-icons right">close</i></span>
                            <p>{{ query.description|truncatechars:250 }}</p>
                            <p>Price: {{ query.price }} $</p>
                            <p>Engine power: {{ query.engine_power }} HP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
            <div class="center-align empty">
                <h3>Oops!</h3>
                <h4>Sorry. No car available.</h4>
                <button class="btn-large waves-effect waves-light js-create-car" type="submit"
                name="action">New car<i class="material-icons right">send</i>
                </button>
            </div>
    {% endif %}
    <div id="paginator" class="center-align">
        {% include 'shop/paginate.html' %}
    </div>
    <script src="{% static 'js/noframework.waypoints.min.js' %}"></script>
    <script src="{% static 'js/scroll.js' %}"></script>
{% endblock content %}