body
	display: flex
	min-height: 100vh
	flex-direction: column

// Navbar
.nav-core
	background: #181c1f
	text-transform: uppercase
	min-height: 90px
	padding-top: 10px
	padding-left: 10%
	padding-right: 10%


// Footer
.page-footer
	background-color: #181c1f

.footer-copyright
	background-color: #0e1112 !important
	text-transform: uppercase

// Particles JS (prox/templates/home.html)
#particles-js
	width: 100%
	height: 100%
	background-color: #b61924
	background-image: url('../img/spacex.jpg')
	background-size: cover
	background-position: 50% 50%
	background-repeat: no-repeat

// Form Contact
.center-align
	h3
		padding-top: 35px

#contact-form
	padding-bottom: 30px
	padding-top: 30px

.contact-row
	padding-bottom: 5%

// Question form input
#id_question
	height: 1%
// Shop empty button
.empty
	h4
		margin-bottom: 5%

// Shop wrapper
.shop-wrapper
	padding-top: 5%
	padding-bottom: 10%

// Shop header
.shop-header
	background: #666
	.shop
		margin-right: 3%