{% extends "shop/index.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
	<div id="signup">
		<div class="row">
			<div class="col s6 offset-s3">
				<p>Already have an account? Then please 
				<a href="{{ login_url }}">sign in</a>.</p>
				<form class="signup" id="signup_form" method="post"
				action="{% url 'account_signup' %}">
				  {% csrf_token %}
				  {{ form.as_p }}
				  {% if redirect_field_value %}
					  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				  {% endif %}
				  <button class="btn-large pulse" type="submit">
				  <i class="material-icons right">keyboard_arrow_right</i>Sign Up</button>
				</form>				
			</div>
		</div>
	</div>
{% endblock %}