<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l4 s12">
                <h5 class="white-text">I like it, I'm not gonna crack</h5>
                <p class="grey-text text-lighten-4">
                I'm so happy because today.
                I've found my friends.
                They're in my head.
                I'm so ugly, but that's okay, 'cause so are you.
                We've broken our mirrors.
                Sunday morning is everyday for all I care</p>
              </div>
              <div class="col l4 s12">
                <p class="white-text">With the lights out</p>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Youtube</a></li>
                </ul>
              </div>
              <div class="col l4 s12">
                <p class="white-text">Bring your friends</p>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Vk</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">4chan</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Redit</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Hacker news</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="gray-text container">
            Matz Chromatiq
            <a class="grey-text text-lighten-4 right">© 2017 HakwX Exploration Technologies Corp. </a>
            </div>
          </div>
        </footer>